node_modules/
public/*.js
public/dash/
public/guides/
public/docs/
public/sitemap-content.xml
public/details.html
public/static/css/details.css
.env
.env.*
*.env
.DS_Store
.idea/
.vscode/
public/downloads/
